
/*Main Layout*/
.container{
	width:100%;
	max-width:1200px;
	margin:0 auto;
	@include clearfix;
	ul{
		li{
			display:inline-block;
			@include font-size(0.75);
			color:$textcolor-blue;
			margin-right:3px;
		}
	}
}

.col-container{width:100%; float:left;}

.col{float:left; margin: 2em 0 2em;}

.col-1{width:100%;}
.col-2{width:48.5%; margin-left:3%;}
.col-3{width:31.33%;margin-left:3%;}
	.col-2:first-child, .col-3:first-child, .col-2of3:first-child{margin-left:0;}
.col-1of3{width:31.33%; margin-left:3%;}
	.col-1of3.img-3{margin-left:0; margin-right:3%;}
.col-2of3{width:65.67%;}
.col-5{width:17.6%; margin-left:2%;}


/*testing*/
.container{outline: 2px #0f0 solid;}
.col-2of3, .col{outline:2px #f00 solid;}
.col-2of3{height:200px;}


/***************************************\
		MEDIA QUERIES
\***************************************/
@media only screen 
and (max-width: 56em){

}

/*tablet*/
@media only screen 
and (max-width: 43em){
	body{background-color:rgba(0,0,0,0.3);}

	.col-2, .col-3, .col-1of3, .col-2of3, .col-5{width:96%; margin-left:2%;float:none;}
		.col-2:first-child, .col-3:first-child, .col-2of3:first-child{margin-left:2%;}

	/*.img-1, .img-2, .img-3{text-align:center; margin:0 auto;}*/
}

