
header{
	height:40px;
	width:100%;
	max-width:1330px;
	margin:0 auto;

	#logo{
		width:100px;
		background-color:#000;
	}

	ul{	
		li{
			display: inline-block;
			margin:5px;
		}
	}

	ul.nav-primary{
		float:left;
		li{
			text-transform: uppercase;
			@include font-size(0.8);
			color:#333;
		}
		li:first-child{
			color:#000;
		}
	}

	ul.nav-secondary, ul.nav-ulity{
		float:right;
		li{ @include font-size(0.75);}
	}
	/*ul.nav-secondary{display: none;}*/
}

@media only screen and (max-width:43em){
	
	ul.nav-secondary{
		display:none;
	}
}