
header{
	height:4em;
	width:100%;
	max-width:1330px;
	margin:0 auto;

	#logo{
		width:100px;
		background-color:#000;
	}

	ul{	
		li{
			display: inline-block;
			margin:5px;
			color:$textcolor-third;

			&:hover{color:$textcolor-blue;}
		}
	}

	ul.nav-primary{
		float:left;
		li{
			text-transform: uppercase;
			@include font-size(0.875);
		}
		li:first-child{
			color:$textcolor-second;
		}
	}

	ul.nav-secondary, ul.nav-ulity{
		float:right;
		li{ @include font-size(0.75);}
	}
	ul.nav-ulity li{color:$textcolor-blue;}
}

@media only screen and (max-width:43em){
	
	ul.nav-secondary{
		display:none;
	}
}