@import 'normalize';
@import 'mixins';

$font-primary: Helvetica, sans-serif;
$textcolor-prim: #666;
$textcolor-second: #000;
$textcolor-third: #333;
$textcolor-blue: rgba(0,153,255,1);


body{
	font-size:100% Helvetica, sans-serif;
	background-color:#fff;
	color:$textcolor-prim;
}

@import 'navigation';

@import 'content';

.title1{}
.title2{}
.title3{@include font-size(1.2);}
.title4{@include font-size(1.2); text-transform: uppercase; font-weight: 100;}
.subtitle1{}
.subtitle2{@include font-size(0.7)}

.video-title{outline:1px #f00 solid; margin:0 2%;}
.right{float: right;}
a{text-decoration: none; color:$textcolor-second;}


