@import 'normalize';
@import 'mixins';

$font-primary: Helvetica, sans-serif;
$textcolor-prim: #666;
$textcolor-second: #000;
$textcolor-third: #333;
$textcolor-blue: rgba(0,153,255,1);


body{
	font-size:100% Helvetica, sans-serif;
	background-color:#fff;
	color:$textcolor-prim;
}

@import 'navigation';

@import 'content';

