@import 'normalize';
@import 'mixins';

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,800,700,900,600);

$font-primary:'Source Sans Pro', "Helvetica Neue", sans-serif;
$textcolor-prime: #666;
$textcolor-second: #000;
$textcolor-third: #7a7a7a;
$textcolor-blue: #0093cc;
$border-color:#ebebeb;
$border-color2:#c0c0c0;
$bgcolor-prim: #fff;
$bgcolor-second: #000;
$bgcolor-third:#d6d6d6;


body{
	font-size:100% $font-primary;
	background-color:#fff;
	color:$textcolor-second;
}

#logo{width:80px; height:54px;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAeCAYAAAC8AUekAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABR0RVh0Q3JlYXRpb24gVGltZQA2LzUvMTO3y9KHAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAAJFJREFUWIXtmFEKwCAMQ9ux+1/ZfW6wVl21hIy+z0lqCNJZVfo045tOrKXR2r3tkb1ZJmUexbmgTT/fI6iTV7G7xkgjjq63Fq3pQp18mUfhmVfZ302iNV3dL5OnoMyjKPMovIvZ19/7DNGaro46+TKPAjFQRAf3l446+ZUxsMf2zmJBnXyZR6HP5zM2qJOnNn8BqRsTOe7yrOsAAAAASUVORK5CYII=);}

@import 'navigation';

@import 'layout';

@import 'footer';




